/* StartGame.css */
body{
  margin: 0;
  padding: 0;
}
.Start-page{
    background-color: #0a68bb;
    background-image: url('https://cutewallpaper.org/27/background-wallpaper-gaming/gaming-pc-wallpaper-hd-wallpapers-for-tech-computer-wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    box-shadow: 0 20px 20px 0 rgb(230, 22, 209);
    transition: 0.3s;
    width: 40%;
    /* height: 40%; */
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background-color: #66def1;
  }
  
  .card:hover {
    box-shadow: 0 20px 20px 0 rgb(84, 16, 243);
  }
  
  .container {
    padding: 2px 16px;
  }
  
  img {
    width: 100%;
    border-radius: 10px;
  }
  
  .results {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  